<?xml version="1.0" encoding="UTF-8"?>
<server description="auth-service">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>ssl-1.0</feature>
        <feature>jwt-1.0</feature>
        <feature>mpJwt-1.1</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpHealth-2.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9180"
                  httpsPort="9543"/>

    <webApplication location="auth-service.war" contextRoot="/" />
    <mpMetrics authentication="false"/>

    <cors domain="/auth"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowedHeaders="Accept, Content-Type, Authorization"
          maxAge="3600" />

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="keystore.jceks" type="JCEKS" password="secret" />

	<!-- This JWT builder is used to build JWT for the logged-in user. The resulting 
		JWT would be MP JWT compliant if the code using it adds valid group and user 
		names. The JWT is signed using the RS256 algorithm, using the default keystore 
		defined above. -->
    <jwtBuilder id="jwtAuthUserBuilder" issuer="http://piggymetrics.mp.com" expiry="1h"
                keyAlias="default" audiences="piggymetrics" jti="true"/>
                
    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="default" audiences="piggymetrics" issuer="http://piggymetrics.mp.com"/>
</server>
